

.property-page {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 500px;
	padding: 5px;
	flex: 1 1 0;
}


.property-group-title {
	transform: translateX(-10px);
}

.property-row {
	display: flex;
	min-height: 1.8em;
	width: 100%;
	align-items: center;
	padding: 2px;
	flex: 1 0 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.property-row > div {
	width: 100%;
}

.property-row > select {
	width: 100%;
}

.property-type {
	position: absolute;
	opacity: 0.3;
	width: 50px ! important;
	left: 130px;
}